@model Invoice
@{
    ViewData["Title"] = "Invoice Page";
}
<section class="h-100 h-custom" style="background-color:rgba(223, 217, 217, 0.75);">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-8">

            <div class="card m-9">
                <div class="card-body mx-4">
                    <div class="container">
                        <p class="my-5 mx-5" style="text-align: center; font-size: 30px;">Thank for your purchase</p>
                        <div class="row">
                            <ul class="list-unstyled">
                                <li class="text-muted mt-1"><span class="text-black">Invoice</span> #12345</li>
                                <li class="text-black mt-1">Sep 2 2023</li>
                            </ul>
                            <hr>

                            <div class="row my-2 mx-1 justify-content-center">
                                <table class="table table-striped table-borderless">
                                    <thead style="background-color:rgba(223, 217, 217, 0.75) ;" >
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>@Model.ProductName</td>
                                            <td>@Model.QTY</td>
                                            <td>@Model.Price</td>
                                            <td>@Model.Total</td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="row text-black">

                                <div class="col-xl-12">
                                    <p class="float-end fw-bold">
                                        Total: @Model.Total
                                    </p>
                                </div>
                                <hr style="border: 2px solid black;">
                            </div>
                            <div class="text-center" style="margin-top: 90px;">
                                <a asp-action="Index"><u class="text-info">Back To Home Page</u></a>
                                <p>Thank for your purchase from Asmaa Store.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>